body{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    font-size: 35px;
    text-decoration: underline 2px black;
    margin-bottom: 10px
}

h3{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

.index{
    margin-top: 10px;
    text-decoration: underline 2px black;
}

a{
    color: black;
    text-decoration: none;
}

h2{
    text-align: left;
    font-size: 25px;
    margin-top: 100px;
}

table{
    margin-right: 20px;
}

#title-row{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: darkgreen;
    color: white;
}

table, th, tr, td{
    border: 1px solid black;
}

table{
    background-color: silver;
    width: 100%;
}

th, tr, td{
    background-color: white;
}

.header{
    font-size: 16px;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
}

th{
    color: darkgreen;
}

.example-code {
    font-family: Arial, Helvetica, sans-serif;
}