@font-face {
    font-family: "Raleway";
    src: url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400&display=swap);
}

* {
    font-family: "Raleway";
    box-align: left;
}

.title {
    margin: 10px 50px;
    font-size: 40px;
}

h1 {
    font-size: 40px;
    font-weight: 800;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.color {
    border: 2px solid #000000;
    border-radius: 3px;
    padding: 10px 25px;
    width: auto;
    margin: 10px 50px;
}

.font {
    border: 2px solid #000000;
    border-radius: 3px;
    padding: 10px 25px;
    width: auto;
    margin: 10px 50px;
}

.element {
    border: 2px solid #000000;
    border-radius: 3px;
    padding: 10px 25px;
    width: auto;
    margin: 10px 50px;
}

.dark-red, .black, .silver, .gray {
    width: 150px;
    height: 100px;
    border: 2px solid #000000;
    border-radius: 3px;
    display: inline-block;
}

.dark-red {
    background-color: #bd0000;
}

.black {
    background-color: #000000;
    color: #fff;
}

.silver {
    background-color: #c0c0c0;
}

.gray {
    background-color: #808080;
}

.r300 {
    font-weight: 300;
}

.r300i {
    font-weight: 300;
    font-style: italic;
}

.r400 {
    font-weight: 400;
}

.r400i {
    font-weight: 400;
    font-style: italic;
}

.r700 {
    font-weight: 700;
}

.r800 {
    font-weight: 800;
}